<div class="container w-10 mx-auto flex gap-5">
  <div class="col-12 md:col-3 hidden-mobile">
    <app-menu-aside></app-menu-aside>
  </div>

  <div class="col-12 md:col-8">
    <div class="chart-section text-center">
      <h3 class="text-base font-normal m-0 p-0">Total em contribuições</h3>
      <h1 class="text-xl font-semibold m-0 p-0">R$ 999.999,99</h1>

      <apx-chart
        [series]="chartData.series"
        [chart]="chartData.chart"
        [labels]="chartData.labels"
        [colors]="chartData.colors"
      ></apx-chart>

      <div class="legend flex flex-column align-items-center mt-3">
        <ng-container *ngFor="let item of data">
          <div class="legend-item flex flex-column align-items-center gap-0 mb-2 text-base">
            <div class="flex align-items-center gap-2">
              <span class="dot" [ngStyle]="{'background-color': item.id === 1 ? '#ff4560' : '#775dd0'}"></span>
              <span>{{ item.nome }}</span>
            </div>
            <span class="font-semibold">{{ item.valor | currency:'BRL':'symbol':'1.2-2' }}</span>
          </div>
        </ng-container>
      </div>
    </div>
    <hr class="divider mx-auto" />
    <section class="contributions-section">
      <ng-container *ngFor="let item of cards">
        <app-card-dashboard [data]="item"></app-card-dashboard>
      </ng-container>
    </section>

    <div class="mt-3 text-center">
      <button pButton label="Incluir contribuição" class="p-button-link text-white font-semibold uppercase md:px-8 full-width-mobile"></button>
    </div>
  </div>
</div>
